<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>twarc Directed Graph of Retweets</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <style type="text/css">

div#sidebar {
	position:fixed;
	top:0px;
	left:0px;
	width: 250px;
	height:400px;
	overflow:scroll;

	border: 1px solid black;
	background: #eee;
	padding: 5px;
	}

div#sidebar_lists {
	font-size: 75%;
}

div.sidebar_list {
	width: 50%;
	float:left;
}

div#argsopts {
	float: right;
}
div.metadata {
	font-size: 75%;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#plain {
  fill: #666;
}

marker#in {
  fill: #44f;
}

marker#out {
  fill: #0f0;
}

path.link.hlOut {
	stroke: #0f0;
	stroke-width: 2px;
}
path.link.hlIn {
	stroke: #44f;
	stroke-width: 2px;
}


circle {
  fill: #eee;
  stroke: #333;
  stroke-width: 1.5px;
}
circle.hl {
	stroke: #f00;
	fill: #f00;
}
circle.hlIn {
	stroke: #0f0;
	fill: #cfc;
}
circle.hlOut {
	stroke: #66f;
	fill: #ccf;
}
circle.hlout.hlIn {
	stroke: #66f;
	fill: #cfc;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shad {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}
g.hl text.shad {
	stroke: #fcc;
  	stroke-opacity: 1;
}
g.hlIn text.shad {
	stroke: #cfc;
  	stroke-opacity: 1;
}
g.hlOut text.shad {
	stroke: #ddf;
  	stroke-opacity: 1;
}


ul { margin: 0; padding: 0; list-style-type: none;}
    </style>
  </head>
  <body>
  
    <div id="sidebar">
    	<div id="sidebar_selectdiv">
    	</div>
    	<h2 id="sidebar_user"></h2>
    	<div id="sidebar_lists">
	    	<div class="sidebar_list" id="sidebar_inlist"></div>
    		<div class="sidebar_list" id="sidebar_outlist"></div>
    	</div
    </div>
    
    

  
    <script type="text/javascript">
	var json = $JSON$;
	
	var mode = json["opts"]["mode"];
	var threshold = json["opts"]["threshold"];
	var links = json["links"];
	var nodes = json["nodes"];
	
	function twitterlink(n) {
		return "<a href='https://twitter.com/" + n + "'>" + n + "</n>";
	}
	
	function selectlink(n) {
		return "<a href='javascript:userselect(\"" + n + "\")'>" + n + "</n>";
	}
	
	function listsort(l) {
		sortl = [];
		for (var a = 0; a < l.length; a++) {
			sortl.push(l[a].toLowerCase() + " " + l[a]);
		}
		sortl = sortl.sort();
		for (var a = 0; a < sortl.length; a++) {
			sortl[a] = sortl[a].split(" ")[1];
		}
		return sortl;
	}
	
	function listhtml(l) {
		l = listsort(l);
		var html = "<ul>";
		for (var a = 0; a < l.length; a++) {
			html += "<li>" + selectlink(l[a]) + "</li>";
		}
		html += "</ul>";
		return html;
	}
	
	function selecthtml(l) {
		l = listsort(l);
		// show threshold
		html = "<div id='filename' class='metadata'>" + json["args"][0] + "</div>"
		html += "<div id='argsopts' class='metadata'>Threshold: " + threshold + "<br/>Mode: " + mode + "</div>";
		html += "<select onchange='userselect(this.value)'>";
		for (var a = 0; a < l.length; a++) {
			html += "<option>" + l[a] + "</option>";
		}
		html += "</select>";
		return html;
	}
	
	function userselect(name) {
	   	// working with:
   	//	this:
   	//	<circle class="" transform="translate(974.0229211897631,951.403518091633)" id="circle_RobertCBinkley" r="6">
    //     <title>RobertCBinkley (1/1)</title>
    //  </circle>
    //  d:
    //  {"name": "RobertCBinkley", "title": "RobertCBinkley (1/1)"}
    //  path:
    //        <path d="M952.2..." marker-end="url(#plain)" in="pabinkley" out="RobertCBinkley" 
    //			class="link suit out_RobertCBinkley in_pabinkley hlOut"/>
         
   		root = d3.select("#circle_" + name);
   		// show selected user in sidebar
   		d3.select("#sidebar_user").html(twitterlink(name));

   		
   		pathsfg = d3.select("#paths-fg");
   		circlesfg = d3.select("#circles-fg");
   		textsfg = d3.select("#texts-fg");
   		paths = d3.select("#paths");
   		circles = d3.select("#circles");
   		texts = d3.select("#texts");
   		
   		// clear previous selections
   		d3.selectAll(".hl").classed("hl", false);
   		d3.selectAll(".hlIn").classed("hlIn", false);
   		d3.selectAll(".hlOut").classed("hlOut", false);
   		// put foregrounded paths etc. (if any) back in background
   		var p = pathsfg.selectAll("path").attr("marker-end", "url(#plain)");
   		if (p.size() > 0)
   			d3.select("#paths").each(function() {
	   			f = this;
	   			p.each(function() { 
	   				f.appendChild(this) 
	   			});
    		})
   		var p = circlesfg.selectAll("circle");
   		if (p.size() > 0)
   			d3.select("#circles").each(function() {
	   			f = this;
	   			p.each(function() { 
	   				f.appendChild(this) 
	   			});
    		})
   		var p = textsfg.selectAll("g");
   		if (p.size() > 0)
   			d3.select("#texts").each(function() {
	   			f = this;
	   			p.each(function() { 
	   				f.appendChild(this) 
	   			});
    		})
   		
		// highlight current node, paths, branch nodes
   		root.classed("hl", true);
   		d3.select("#text_" + name).classed("hl", true);
   		// highlight paths
   		var inlist = [];
   		var outlist = [];
   		d3.selectAll("path.out_" + name).classed("hlOut", true).attr("marker-end", "url(#out)").each(function(d){
   			if (d.target.name != name) {
   				outlist.push(d.target.name);
   				d3.select("#circle_" + d.target.name).classed("hlIn", true); 
   				d3.select("#text_" + d.target.name).classed("hlIn", true);
   			};
   		});
   		d3.selectAll("path.in_" + name).classed("hlIn", true).attr("marker-end", "url(#in)").each(function(d){
   			if (d.source.name != name) {
   				inlist.push(d.source.name);
   				d3.select("#circle_" + d.source.name).classed("hlOut", true); 
   				d3.select("#text_" + d.source.name).classed("hlOut", true)
   				this["marker-end"] = "url(#out)";
   			};
   		});
		var inlabel = {"retweets": "Retweeted by", "replies": "Replies to this", "mentions": "Mentioned"};
		var outlabel = {"retweets": "Retweeted", "replies": "Replies from this", "mentions": "Mentioned by"};
		d3.select("#sidebar_inlist").html("<h3>" + inlabel[mode] + "</h3>" + listhtml(inlist));
		d3.select("#sidebar_outlist").html("<h3>" + outlabel[mode] + "</h3>" + listhtml(outlist));

		// move path to a different group: based on https://groups.google.com/forum/#!topic/d3-js/KEiqiUPZHUs
   		var p = paths.selectAll("path.out_" + name +", path.in_" + name);
   		if (p.size() > 0)
   			d3.select("#paths-fg").each(function() {
	   			f = this;
	   			p.each(function() { 
	   				f.appendChild(this) 
	   			});
    		})
   		var p = circles.selectAll(".hl, .hlIn, .hlOut");
   		if (p.size() > 0)
   			d3.select("#circles-fg").each(function() {
	   			f = this;
	   			p.each(function() { 
	   				f.appendChild(this) 
	   			});
    		})
   		var p = texts.selectAll(".hl, .hlIn, .hlOut");
   		if (p.size() > 0)
   			d3.select("#texts-fg").each(function() {
	   			f = this;
	   			p.each(function() { 
	   				f.appendChild(this) 
	   			});
    		})


	}
	

// set box size to window size
var win = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    w = win.innerWidth || e.clientWidth || g.clientWidth,
    h = win.innerHeight|| e.clientHeight|| g.clientHeight;

// set sidebar to height of window
d3.select("#sidebar").style.height = h + 'px'; 

var users = [];
for (var a = 0; a < nodes.length; a++) {
	users.push(nodes[a]["name"]);
}

d3.select("#sidebar_selectdiv").html(selecthtml(users));
    
// no, on second thought, make the window really really big
w = 2000;
h = 2000;

var force = d3.layout.force()
    .nodes(d3.values(nodes))
    .links(links)
    .size([w, h])
    .linkDistance(60)
    .charge(-300)
    .on("tick", tick)
    .start();

var svg = d3.select("body").append("svg:svg")
    .attr("width", w)
    .attr("height", h);

// Per-type markers, as they don't inherit styles.
svg.append("svg:defs").selectAll("marker")
    .data(["plain", "in", "out"])
  .enter().append("svg:marker")
    .attr("id", String)
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 15)
    .attr("refY", -1.5)
    .attr("markerWidth", 6)
    .attr("markerHeight", 6)
    .attr("orient", "auto")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");

var path = svg.append("svg:g")
	.attr("id", "paths")
  .selectAll("path")
    .data(force.links())
  .enter().append("svg:path")
    .attr("class", function(d) { return "link " + d.type + " out_" + d.source.name + " in_" + d.target.name; })
    .attr("out", function(d) { return d.source.name; })
    .attr("in", function(d) { return d.target.name; })
    .attr("marker-end", "url(#plain)");

var circle = svg.append("svg:g")
	.attr("id", "circles")
	.selectAll("circle")
    .data(force.nodes())
  .enter().append("svg:circle")
    .attr("r", 6)
    .attr("id", function(d) {return "circle_" + d.name;})
   .on("click", function(d) {
		userselect(d.name);
   		})
   .call(force.drag);

// tooltips
 circle.append("title")
      .text(function(d) { return d.title; });

var text = svg.append("svg:g")
	.attr("id", "texts")
	.selectAll("g")
    .data(force.nodes())
  .enter().append("svg:g")
  .attr("id", function(d) {return "text_" + d.name;});

// A copy of the text with a thick white stroke for legibility.
text.append("svg:text")
    .attr("x", 8)
    .attr("y", ".31em")
    .attr("class", "shad")
    
    .text(function(d) { return d.name; });

text.append("svg:text")
    .attr("x", 8)
    .attr("y", ".31em")
    .text(function(d) { return d.name; });

// foreground groups: we move highlighted objects here, to bring them in front of the rest
var pathsfg = svg.append("svg:g")
	.attr("id", "paths-fg");
var circlesfg = svg.append("svg:g")
	.attr("id", "circles-fg");
var textsfg = svg.append("svg:g")
	.attr("id", "texts-fg");

// Use elliptical arc path segments to doubly-encode directionality.
function tick() {
  path.attr("d", function(d) {
    var dx = d.target.x - d.source.x,
        dy = d.target.y - d.source.y,
        dr = Math.sqrt(dx * dx + dy * dy);
    return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
  });

  circle.attr("transform", function(d) {
    return "translate(" + d.x + "," + d.y + ")";
  });

  text.attr("transform", function(d) {
    return "translate(" + d.x + "," + d.y + ")";
  });
}
//	});

    </script>
    
  </body>
</html>
